body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #caf3f2;
    color: #333;
}
h1 {
    text-align: center;
    font-size: 36px;
    color: #222;
}

h3 {
    text-align: center;
    font-style: italic;
    color: #555;
}

img {
    display: block;
    margin: 20px auto;
    width: 400px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
li{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

ul {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 20px;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}